*         eol=lf
*.txt     -text
*.pdf     -text
*.sh      eol=lf
*.html    eol=crlf
*.xml     eol=crlf
*.tpl     eol=crlf
*.php     eol=crlf
*.css     eol=crlf
*.js      eol=crlf
*.jpg     -text
*.gif     -text
*.png     -text
*.eot     -text
*.otf     -text
*.ttf     -text
*.jpf     -text
*.tif     -text
*.tiff    -text
*.pbm     -text
*.pbm     -text
